<div class="row" id="home">
			<div class="col-md-4">
			<h3 class="ch3">Products</h3>
        <%= link_to products_path, class: "thumbnail" do %>
				<i class="glyphicon glyphicon-shopping-cart"></i>
        <% end %>
      </div>
  		<div class="col-md-4">
  			<h3 class="ch3">Services</h3>
         <%= link_to services_path, class: "thumbnail" do %>
				  <i class="glyphicon glyphicon-flag"></i>
        <% end %>
  		</div>
  		<div class="col-md-4">
  			<h3 class="ch3">Promos</h3>
        <%= link_to promos_path, class: "thumbnail" do %>
  			 <i class="glyphicon glyphicon-tag"></i>
        <% end %>
  		</div>
  	</div>
  	<div class="row" id="home">
  		<div class="col-md-4 col-md-offset-2">
  			<h3 class="ch3">Places</h3>
        <%= link_to places_path, class: "thumbnail" do %>
				  <i class="glyphicon glyphicon-map-marker"></i>
        <% end %>
  		</div>
  		<div class="col-md-4">
  			<h3 class="ch3">Account</h3>
        <%= link_to edit_user_registration_path, class: "thumbnail" do %>
  			 <i class="glyphicon glyphicon-user"></i>
        <% end %>
  		</div>
  	</div>